@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Urbanist:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body{
    background:  #dac292;
}

.container{
background-color: #fff;
width: 700px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 40px;
border-radius: 10px;
text-align: center;
box-shadow: 0 10px 20px 0px rbga(0, 0, 0, 0.15);
}

.container h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.container h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: #b9936c;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.container blockquote{
    font-size: 26px;
    min-height: 110px;
}

.container blockquote::before, .container blockquote::after{
    content: '""';
}

.container span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.container span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: #b9936c;
    position: absolute;
    top: 50%;
    left: -30px;
}

.container div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container button{
    background: #b9936c;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #b9936c;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.container button img{
   width: 25px;
   margin-right: 4px;
}

.container button:nth-child(2){
    background: transparent;
    color: #333;
}